/* CARDS */
#cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card {
  flex: 0 1 calc(25% - 1em);
  margin: 1rem .25em;
}

.card-image {
  max-width: 390px;
  max-height: 200px;
}

.botonera {
  text-align: center;
  padding: 15px;
}

@media screen and (max-width: 985px) { 

  #cards {
    display: flex;
    flex-wrap: column;
  }

  .card-image {
    max-width: 790px;
  }
}

@media screen and (max-width: 985px) { 
  .card-image {
    max-width: 790px;
  }
}

@media screen and (max-width: 764px) { 

  .card-image {
    max-width: 500px;
  }
}

@media screen and (max-width: 764px) { 
  .card-image {
    max-width: 400px;
  }
}

@media screen and (max-width: 475px) { 
  .card-image {
    width: 300px;
  }
}

@media screen and (max-width: 475px) { 
  .card-image {
    width: 250px;
  }
}

@media screen and (max-width: 310px) { 
  .card-image {
    width: 200px;
  }
}

@media screen and (max-width: 250px) { 
  .card-image {
    width: 150px;
  }
}

@media screen and (max-width: 190px) { 
  .card-image {
    width: 100%;
  }
}